
.SpellsPreviewTable {
  thead {
    th {
      cursor: pointer;
      svg {
        margin-left: 5px;
        margin-bottom: 2px;
      }
      &.name {
        width: 20%
      }
      &.level {
        width: 10%
      }
      &.castingTime {
        width: 15%
      }
      &.traditions {
        width: 20%
      }
    }
  }
  tbody {
    tr {
      cursor: pointer;
    }
  }
}